#main{
  height: 400px;
  width: 100%;
  background: linear-gradient(75deg, #fec3c3, #ffdfb6);
}

.title{
	text-align: center;
	padding-top: 80px;
}

.left{
  width: 700px;
  float: left;
}
.tyumoku-left{
  padding: 30px 5px 10px 10px;
  font-family: 'Montserrat',sans-serif;
  color: #e48080;
  font-size: 17px;
  font-weight: bold;
  border-bottom: solid 1px #e48080;
}

.right{
  margin-left: 25px;
  width: 300px;
  float: left;
}

.tyumoku-right{
  float: left;
  padding: 30px 5px 10px 10px;
  font-family: 'Montserrat',sans-serif;
  color: #e48080;
  font-size: 17px;
  font-weight: bold;
  border-bottom: solid 1px #e48080;
}

.main_img{
  margin: 20px;
  width: 300px;
}

.article_title{
  font-size: 20px;
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
  color: #745758;
  margin-left: 20px;
}

.article-left{
float: left;
}

.article-right{
float: left;
margin-left: 20px;
}

.btn_happy {
	margin-right: 20px;
	float: left;
	font-size: 10px;
	width: 50px;
	height: 26px;
	background: #FFF;
	border: 2px dotted #ffbf7f;
	border-radius: 70px;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	color: #ffbf7f;
	padding: 32px 10px 10px;
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 70%;
	transition: background-color 0.5s ease-in;
	-webkit-transition: background-color 0.5s ease-in;
	    margin-top: 20px;
    }

.btn_happy:hover {
	background: #ffbf7f;
	color: #FFF;
	border: 2px dotted #FFF;
}
.btn_sad {
	float: left;
	font-size: 10px;
	width: 50px;
	height: 26px;
	background: #FFF;
	border: 2px dotted #7f7fff;
	border-radius: 70px;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	color: #7f7fff;
	padding: 32px 10px 10px;
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 70%;
	transition: background-color 0.5s ease-in;
	-webkit-transition: background-color 0.5s ease-in;
	    margin-top: 20px;
    }

.btn_sad:hover {
	background: #7f7fff;
	color: #FFF;
	border: 2px dotted #FFF;
}
.btn_busy {
	margin-right: 20px;
	clear: both;
	float: left;
	font-size: 10px;
	width: 50px;
	height: 26px;
	background: #FFF;
	border: 2px dotted #7fffbf;
	border-radius: 70px;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	color: #7fffbf;
	padding: 32px 10px 10px;
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 70%;
	transition: background-color 0.5s ease-in;
	-webkit-transition: background-color 0.5s ease-in;
	    margin-top: 20px;
    }

.btn_busy:hover {
	background: #7fffbf;
	color: #FFF;
	border: 2px dotted #FFF;
}
.btn_love {
	float: left;
	font-size: 10px;
	width: 50px;
	height: 26px;
	background: #FFF;
	border: 2px dotted #ff7f7f;
	border-radius: 70px;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	color: #ff7f7f;
	padding: 32px 10px 10px;
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 70%;
	transition: background-color 0.5s ease-in;
	-webkit-transition: background-color 0.5s ease-in;
	    margin-top: 20px;
    }

.btn_love:hover {
	background: #ff7f7f;
	color: #FFF;
	border: 2px dotted #FFF;
}

.all_content{
	text-align: center;
}

.content_title{
  margin-top: 80px;
  font-size: 30px;
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
  color: #745758;
  text-align: center;
}

.content_img{
  padding-top: 40px;
  width: 450px;
}

.description{
  margin-top: 80px;
  font-size: 30px;
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
  color: #745758;
  text-align: center;
}

.main_text{
  margin-top: 80px;
  font-size: 30px;
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
  color: #745758;
  text-align: center;
}

